.qty {
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    margin: 0 10px !important;
    border: 1px solid;
    text-align: center;
    line-height: 3;
}

.shopping-cart {
    margin-top: 20px;
}

.input-group {
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .product-name {
        font-size: 1rem;
        margin-top: .5rem;
    }

    .product-description {
        font-size: 1rem;
    }

    .product-quantity-container {
        margin-top: .5rem;
    }
}