@use "@angular/material/prebuilt-themes/indigo-pink.css";

@import 'bootstrap/scss/bootstrap';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Mixins
@mixin margins_top_bottom($margin: 2em) {
    margin-top: $margin;
    margin-bottom: $margin;
}

.container {
    @include margins_top_bottom;

    position: relative;
    top: 5em;
}